<ion-view view-title="Bio">
    <ion-content>
        <div class="profile">
            <div class="profile-bg">
                <img src="img/background/3.jpg" class="full-image" ng-if="!configUser.coverimage">
                <img src="{{configUser.coverimage | serverimage}}" class="full-image" ng-if="configUser.coverimage">
                <div class="profile-pic bio-pic">
                    <i class="ln-share2"></i>
                </div>
            </div>
        </div>
        <div class="bio-info">
            <div class=" text-center">
                <h3>{{configUser.name}}</h3>
            </div>
            <div class="row">
                <div class="col col-10">
                    <div class="bio-icon">
                        <i class="ln-user"></i>
                    </div>
                </div>
                <div class="col col-90">
                    <div class="bio-text">
                        <h5>About</h5>
                        <p>{{configUser.about}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-10">
                    <div class="bio-icon">
                        <i class="ln-bicycle"></i>
                    </div>
                </div>
                <div class="col col-90">
                    <div class="bio-text">
                        <h5>Hobbies</h5>
                        <p>{{configUser.hobbies}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-10">
                    <div class="bio-icon">
                        <i class="ln-photo"></i>
                    </div>
                </div>
                <div class="col col-90">
                    <div class="bio-text">
                        <h5>Photos</h5>
                        <ion-slide-box on-slide-changed="slideHasChanged($index)">
                            <ion-slide ng-repeat="images in configUser.row">
                                <div class="row">
                                    <div class="col" ng-repeat="imagesrc in images">
                                        <img src="{{imagesrc.image | serverimage}}" class="full-image">
                                    </div>
                                    <!-- <div class="col"><img src="img/event/4.jpg" class="full-image"></div> -->
                                </div>
                            </ion-slide>
                            <!-- <ion-slide>
                                <div class="row">
                                    <div class="col"><img src="img/event/5.jpg" class="full-image"></div>
                                    <div class="col"><img src="img/event/6.jpg" class="full-image"></div>
                                </div>
                            </ion-slide> -->
                        </ion-slide-box>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
