<ion-view view-title="Event">
  <ion-content>
    <ion-list>
        <div class="event">
         <div class="list">

    <a class="item item-thumbnail-left" href="#/app/eventdetail">
      <img src="img/event/1.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Date :</p>
      <p>Venue :</p>
      <p>Detail :</p>
    </a>

   

</div>
   <div class="list">

    <a class="item item-thumbnail-left" href="#/app/eventdetail">
      <img src="img/event/2.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Date :</p>
      <p>Venue :</p>
      <p>Detail :</p>
    </a>

   

</div>
   <div class="list">

    <a class="item item-thumbnail-left" href="#/app/eventdetail">
      <img src="img/event/3.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Date :</p>
      <p>Venue :</p>
      <p>Detail :</p>
    </a>

   

</div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
