<ion-view view-title="Gallery">
    <div class="bar bar-subheader bar-calm">
        <h4 class="title">Your Photo Gallery</h4>
        <div class="profile-pic bio-pic positonab">
            <i class="ln-sync"></i>
        </div> 
<!--        <button class="button button-positive button-edit button-round ion-edit" ng-init="edit=false;" ng-click="edit=!edit"></button>-->
    </div>
    <ion-content class="has-subheader">
        <ion-list>
            <div class="video-set">
                <figure>
                    <img src="img/video/1.png" class="full-image">
                    <div class="img-layer">

                        <div class="bottom-txt">
                            <h4>Category Name</h4>

                        </div>
                    </div>
                </figure>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
