<ion-view view-title="Notification">
  <ion-content>
    <ul class="list">

  <li class="item item-toggle">
     Video
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
     Email
     <label class="toggle toggle-pos-tive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
    <li class="item item-toggle">
     Message
     <label class="toggle toggle-stable">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>


</ul>
  </ion-content>
</ion-view>
