<ion-view view-title="Playlist">
    <ion-content>
        <div class="card video-category" ng-repeat="list in playlist">
            <div class="item item-text-wrap">
                <figure>
                    <a ui-sref="app.playlistvideo({id:list.id})"><img ng-src="{{list.snippet.thumbnails.medium.url}}" class="full-image"></a>
                </figure>
                <div class="cat-name ">
                    <!-- <div class="evnt-det pull-right">
                        <i class="ion-heart "></i>
                        <span>{{item.statistics.viewCount | convertTok}}</span>
                    </div> -->
                    <h4>{{list.snippet.localized.title}}</h4>
                    <p>{{list.contentDetails.itemCount}} Videos</p>
                </div>
            </div>
        </div>
        <div class="center" ng-show="showNoVideos">
            <p>No Playlists Found</p>
        </div>
    </ion-content>
</ion-view>
