<ion-view view-title="Playlist">
    <ion-content>

        <div class="card video-category" ng-repeat="item in playlist">
            <div class="item item-text-wrap">
                <figure>
                    <a href="#/app/playlistvideo"><img ng-src="{{item.image}}" class="full-image"></a>
                </figure>
                <div class="cat-name ">
                    <div class="evnt-det pull-right">
                        <i class="ion-heart "></i>
                        <span>{{item.view}} k</span>
                    </div>
                    <h4>{{item.title}}</h4>
                    <p>{{item.video}} Video</p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>