<ion-view view-title="My Profile">
    <ion-content>
        <div class="profile">
            <div class="profile-bg">
                <img src="img/background/2.jpg" class="full-image">
                <div class="profile-pic text-center">
                    <img src="img/profile/6.jpg">
                </div>
            </div>
        </div>
        <div class="profile-det text-center">
            <h3>Jessica Lucy</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="#">Follow</a>
            <hr>
            <div class="profile-info">
                <div class="row">
                    <div class="col col-33 ">
                        <div class="follow">
                            <h4>2.3k</h4>
                            <p>Post</p>
                        </div>
                    </div>
                    <div class="col col-33 ">
                        <div class="follow">
                            <h4>2.3k</h4>
                            <p>Followers</p>
                        </div>
                    </div>
                    <div class="col col-33 ">
                        <div class="follow">
                            <h4>2.3k</h4>
                            <p>Following</p>
                        </div>
                    </div>

                </div>
 <hr>
           <div class="row">
                    <div class="col col-50 ">
                        <div class="follow">
                            <h5>Wedsite</h5>
                            <p class="font-sz">www.Jessicalove.com</p>
                        </div>
                    </div>
                    <div class="col col-50 ">
                        <div class="follow">
                            <h5>Email</h5>
                            <p class="font-sz">Jessica_Love@gmail.com</p>
                        </div>
                    </div>
                    

                </div>
                    <div class="row marbt">
                    <div class="col col-50 ">
                        <div class="follow">
                            <h5>Phone</h5>
                            <p class="font-sz">+91 98-200-252-00</p>
                        </div>
                    </div>
                    <div class="col col-50 ">
                        <div class="follow">
                            <h5>Location</h5>
                            <p class="font-sz">Mumbai, Maharashtra</p>
                        </div>
                    </div>
                    

                </div>
            </div>
           
        </div>

    </ion-content>
</ion-view>
