<ion-view view-title="Setting">
    <ion-content>
        <div class="profile">
            <div class="profile-bg">
                <img src="img/background/4.jpg" class="full-image">
                <div class="profile-pic bio-pic">
                    <i class="ln-pencil"></i>
                </div>
            </div>
        </div>
        <div class="padded-form margintp">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Jessica">
                    <input type="text" placeholder="Lucy">
                </label>

                <label class="item item-input">
                    <input type="email" placeholder="Jessica_Lucy@gmail.com">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="********">
                </label>
                <label class="item item-input">
                    <input type="text" onfocus="(this.type='date')" placeholder="26, January 2015">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Mumbai">
                </label>
                <label class="item item-input">
                    <span class="col-20"><input type="number" placeholder="+91"></span>
                    <input type="number" placeholder="98-200-252-00">
                </label>
            </div>

        </div>
        <div class="padded-top">
            <button class="button button-positive button-block">Save <i class="icon ln-arrow-right5 padd-left"></i></button>

        </div>
    </ion-content>
</ion-view>