<ion-view view-title="Sign Up">

  <ion-nav-bar class="bar-transparent"></ion-nav-bar>

  <ion-content class="no-header">
    <div class="overlay-boxtwo">
      <div class="overlay-color royal-bg"></div>
      <div class="logo text-center">
        <img src="img/ionic.png">
      </div>
    </div>

    <div class="padded-form">
      <div class="list">
       <label class="item item-input">
          <input type="text" placeholder="First Name">
          <input type="text" placeholder="Last Name">
        </label>
<!--
        <label class="item item-input">
          
        </label>
-->
        <label class="item item-input">
          <input type="email" placeholder="Email Address">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Choose a Password">
        </label>
        <label class="item item-input">
          <span class="col-20"><input type="number" placeholder="+1"></span><input type="number" placeholder="Phone Number">
        </label>
      </div>
    </div>

    <div class="padded-top">
        <button class="button button-positive button-block">Get started   <i class="icon ln-arrow-right5 padd-left"></i></button>
        
    </div>

  </ion-content>
</ion-view>

