<ion-view class="login-background">
    <ion-content>
        `
        <div class="sigup-set">
            <div class="list">
                <label class="item item-input">
                    <i class="icon ln-user"></i>
                    <input type="text" placeholder="Username">
                </label>

                <label class="item item-input">
                    <i class="icon ln-envelope"></i>
                    <input type="text" placeholder="Email">
                </label>
                <label class="item item-input">
                    <i class="icon ln-gift"></i>
                    <input type="text" placeholder="Birthday">
                </label>
                <label class="item item-input">
                    <i class="icon ln-lock"></i>
                    <input type="password" placeholder="Password">
                </label>

            </div>

        </div>
        <div class="user-btn">
            <button class="button button-full button-positive">
                sign up
            </button>


        </div>
    </ion-content>
    <ion-footer-bar class="text-center">
        <p class="text-center">You have an account? Login in</p>
    </ion-footer-bar>
</ion-view>