<ion-view view-title="All Video">
    <ion-content>
        <div class="video-set">
            <iframe width="100%" height="180" src="https://www.youtube.com/embed/HcgJRQWxKnw" frameborder="0" allowfullscreen class="full-image"></iframe>
        </div>
        <div class="vid-name padding">
            <h3>
          The Jungle book official us teaser
      </h3>
            <p>9.895.69 views</p>
        </div>
        <br>
        <div class="profile-det evnt-set text-center">
            <hr>
            <div class="profile-info">
                <div class="row">
                    <div class="col col-33 padzero">
                        <div class="follow">
                            <i class="ln-thumbs-up2"></i>
                            <p>255k</p>
                        </div>
                    </div>
                    <div class="col col-33 padzero">
                        <div class="follow">
                            <i class="ln-thumbs-down2"></i>
                            <p>5,216</p>
                        </div>
                    </div>
                    <div class="col col-33 padzero">
                        <div class="follow">
                            <i class="ln-share2"></i>
                            <p>Share</p>
                        </div>
                    </div>

                </div>
                <hr>
            </div>
        </div>

        <div class="related-video">

            <div class="all-video">
                <div class="row" ng-repeat="item in video">
                    <div class="col col-33">
                        <div class="image-hold" ng-style="{'background-image':'url({{item.image}})'}">

                        </div>
                    </div>
                    <div class="col col-67">
                        <h4>{{item.title}}</h4>
                        <p>{{item.cat}}</p>
                        <p>{{item.view}}k views</p>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
